@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  font-style: normal;
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.shop__top {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/shop.jpg") no-repeat center center/cover;
}

.nav__list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: center;
  gap: 3em;
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: center;
}

.nav__btn {
  color: white;
  background-color: transparent;
  padding: 2em 3em;
  border-radius: 50px;
  cursor: pointer;
}

.nav__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
  gap: 2em;
}

.nav__contents p {
  color: #fff;
}

.nav__contents h1 {
  font-size: 5rem;
  color: white;
}

.nav__bar ul {
  list-style-type: none;
  color: black;
  padding: 2em;
}

@media screen and (max-width: 414px) {
  .nav__btn {
    display: none;
  }
  .nav__list {
    display: block;
  }
}
.contact__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact__content p {
  margin-bottom: 1em;
}

.contact__content h1 {
  font-size: 5rem;
}

.input__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: center;
  gap: 5em;
  margin: 3em;
}

.input__contact input {
  padding: 1em 2em;
  border-radius: 1em;
}

.input__contact input:hover {
  background-color: hsl(192, 100%, 9%);
  color: white;
}

.contact__button {
  color: white;
  background-color: hsl(322, 100%, 66%);
  padding: 2em 3em;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.contact__button:hover {
  color: hsl(322, 100%, 66%);
  background-color: hsl(229, 23%, 23%);
}

.contact__main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: center;
  margin-top: 5em;
}

.contact__main ul li {
  list-style-type: none;
}

@media screen and (max-width: 414px) {
  .contact__main {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
  }
  .input__contact {
    display: flex;
    flex-direction: column;
  }
  .get__in__touch {
    margin: 3em 0;
  }
}
.hero__img {
  cursor: pointer;
  border: 1px solid gray;
  flex: 1;
  box-shadow: 0 0 1px solid black;
}

.hero__kids {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3em;
}

.hero__people {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3em;
}

.hero__men {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: center;
  width: 80%;
  box-shadow: 0 0 2px black;
  border: 1em solid white;
  background-color: white;
  margin-top: 3em;
  margin-left: 9em;
  gap: 3em;
}

.hero__men h2 {
  margin-top: -5em;
}

.hero__men h4 {
  color: hsl(227, 10%, 46%);
}

.hero__men button {
  background-color: hsl(227, 10%, 46%);
  padding: 1em 2em;
  border-radius: 7px;
  cursor: pointer;
}

.hero__men button:hover {
  color: #fff;
  background-color: hsl(229, 23%, 23%);
}

.kids {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: center;
  gap: 4em;
}

.body__contact {
  height: 80vh;
  background-color: hsl(227, 10%, 46%);
  color: white;
  margin-top: 5em;
}

@media screen and (max-width: 414px) {
  .hero__men {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
body {
  background: url("images/tyrout.jpg") no-repeat center center/cover;
  height: 90vh;
}