@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
.hero {
  @include flex(center, center);
  background-color: $dark-cyan;
}

.hero h2 {
  font-size: 5rem;
  font-weight: bold;
  @include flex(center, center);
}
.hero__left {
  width: 40%;
}
.hero__right {
  position: relative;
  width: 40%;
}
.hero-button {

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  background-color:$Very-Dark-Cyan;
  color:$white;
  text-transform: capitalize;
  @include flex(center, center);
  cursor: pointer;
}
.hero-button:hover{
  color:$Pink;
}
.hero__img-1 {
  z-index: 1;
  // margin-top: -10em;
  margin-right: -5em;
}
