@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
.main__content {
  margin-top: 2em;
  @include flex(center, center);
  gap: 3em;
}
.main__quality {
  @include flex(center, center);
  flex: 1;
  padding: 2em;
  background-color: aliceblue;
}
.main__ads {
  margin-top: 2em;
}
.ads-shoes {
  @include flex(center, center);
  gap: 4em;
}
.ads-tshirts{
    @include flex(center, center);
    gap: 4em;
}
.ads-hoodies{
    @include flex(center, center);
    gap: 4em;
}
.ads-dresses{
    @include flex(center, center);
    gap: 4em;
}

h3{
    margin-top:2em;
text-align: center;
}
.testimonials{
  height:50vh;
  width:50vw;
  background-image: url(https://i.pinimg.com/236x/ab/0b/88/ab0b889156719a632f6eb5ff0178adbb.jpg);
}
.testimonials__content{
  @include flex(center,center);
}
