@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
.main__content {
  margin-top: 2em;
  @include flex(center, center);
  gap: 3em;
}
.main__quality {
  @include flex(center, center);
  flex: 1;
  padding: 2em;
  background-color: aliceblue;
}
.main__ads {
  margin-top: 2em;
}
.ads-shoes {
  @include flex(center, center);
  gap: 4em;
}
.ads-tshirts {
  @include flex(center, center);
  gap: 4em;
}
.ads-hoodies {
  @include flex(center, center);
  gap: 4em;
}
.ads-dresses {
  @include flex(center, center);
  gap: 4em;
}

h3 {
  margin-top: 2em;
  text-align: center;
}
.testimonials{
  position:relative;
  top:0;
  left:calc(50%)
}
