@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
@use "../utilities/shop.html";

@use "../sections/nav";

.shop__top {
  height: 90vh;
  background: url("../images/shop.jpg");

}


.nav__bar{
    @include flex(space-around, center, center)
}

.nav__bar button{
    background-color:blue;
}