@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.nav__content {
  background-color: $Very-Pale-Cyan;
  @include flex(space-between, center);
  gap: 2em;
}
.nav__center ul li a {
  text-decoration: none;
  color: black;
  padding: 1em;
  display: block;
}
.nav__center ul {
  list-style-type: none;
  @include flex(space-between, center);
  gap: 2em;
}
.nav__center ul li {
  cursor: pointer;
}
.nav__center ul li a:hover {
  color: $Pink;
  background-color: $dark-cyan;
}
.nav__right {
  border: 2px solid lightgray;
  border-radius: 5px;
  padding-left: 1em;
}
.nav__right  input {
  padding: 2em 1em;
  border: none;
  outline:none;
}
